trigger:
  branches:
    include:
    - master
  tags:
    include:
    - ^v\d+\.\d+(\.\d+)?(-\S*)?$

pr:
- master

resources:
  repositories:
  - repository: azure_template
    type: github
    name: mdolab/.github
    endpoint: mdolab

stages:
- stage: Test
  dependsOn: []
  displayName: Test
  jobs:
  - job:
    pool:
      vmImage: 'ubuntu-20.04'
    strategy:
      matrix:
        'python36':
          PYTHON_VERSION: '3.6'
        'python37':
          PYTHON_VERSION: '3.7'
        'python38':
          PYTHON_VERSION: '3.8'
    steps:
    - script: sudo apt-get install texlive-pictures texlive-latex-extra -y
      displayName: Prepare Repository
    - script: |
        python3 -m venv test
        source test/bin/activate
      displayName: Setup Environment
    - script: |
        pip install wheel
        pip install testflo
        pip install .
      displayName: Install Packages
    - script: testflo . -v 
      displayName: Run Test

- stage:
  dependsOn: Test
  displayName: PyPI
  condition: and(succeeded(), contains(variables['build.sourceBranch'], 'tags'))
  jobs:
  - template: azure/azure_pypi.yaml@azure_template
    parameters:
      REPO_NAME: pyXDSM
